.button {
    font-size: 20px; 
    font-weight: 400;
    text-transform: capitalize;
    overflow: hidden;
    margin: 0 10px 0 10px;
    background-color: black;
    color: #fff; 
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 0.84rem 2.14rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, black 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    border: 0;
    border-radius: 0.125rem;
    cursor: pointer;
    white-space: normal;
    word-wrap: break-word; 
    &:hover, &:active, &:focus {
        box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
        outline: 0; 
    }
    &:not([disabled]):not(.disabled):active, &:not([disabled]):not(.disabled).active {
        box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); 
    }
    &:focus, &.focus {
        box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); 
    }
    &:focus, &:active, &.active {
        background-color: black; 
    }
    &.dropdown-toggle {
        background-color: black !important; 
    }
    &.dropdown-toggle:hover, &.dropdown-toggle:focus {
        background-color: black !important; 
    }
    &:not([disabled]):not(.disabled):active, &:not([disabled]):not(.disabled).active,
    .show > &.dropdown-toggle {
        box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
        background-color: black !important; 
    }
    &:not([disabled]):not(.disabled):active:focus, &:not([disabled]):not(.disabled).active:focus,
    .show > &.dropdown-toggle:focus {
        box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); 
    }
}

.button-1 {
    @extend .button;
    margin: 0 10px 20px 10px !important;
    padding: 10px !important;
    .logo {
        margin-right: 10px !important;
        font-size: 20px;
    }
}

.button-2 {
    @extend .button-1;
    margin: 10px 10px 10px 10px !important;
    @media (max-width: 992px) {
        display: none;
    }
}

.button-3 {
    @extend .button-1;
    margin: 10px 0 10px 0 !important;
    @media (min-width: 991px) {
        display: none;
    }
}

.button-4 {
    @extend .button;
    margin: 0 !important;
    padding: 10px !important;
    font-size: 16px;
}