.card-common {
    margin-bottom: 30px;
    display: inline-block;
    width: calc(100% - 1px);
    border-radius: .25rem;
    padding: 15px;
    border: none;
    .card-body {
        padding: 0;
    }
    p {
        margin-bottom: 0;
    }
}

.event-card {
    @extend .card-common;
    .list-inline-item {
        margin: 0;
    }
    .event-image {
        height: 300px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        margin: -15px 0 -15px -15px;
        border-radius: .25rem 0 0 .25rem;
        z-index: 1;
        @media (max-width: 767.5px) {
            margin: -15px -15px 0 -15px;
            margin-bottom: 20px;
            border-radius: .25rem .25rem 0 0;
        }
        .event-date {
            display: inline-block;
            text-align: center;
            border-radius: .25rem;
            padding: 10px;
            min-width: 35px;
            min-height: 35px;
            z-index: 2;
            margin: 15px 0 0 15px;
            text-transform: uppercase;
            .event-day {
                color: white;
                font-size: 20px;
                display: block;
                text-align: center;
                line-height: 1.1;
            }
            .event-month {
                display: block;
                text-align: center;
                line-height: 1.1;
            }
        }
        .event-organizer {
            display: inline-block;
            margin: 140px 0 0 15px;
            border-radius: .25rem;
            padding: 10px;
            max-width: calc(100% - 30px);
            text-align: left;
            z-index: 2;
            .event-organizer-portrait {
                height: 48px;
                margin-right: 10px;
            }
            .event-organizer-name {
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
            .fa-facebook, .fa-twitter, .fa-linkedin {
                color: white;
                margin-right: 10px;
            }
            
        }
    }
    .event-title {
        color: white;
        margin-bottom: 15px;
        @media (min-width: 768px) {
            min-height: 57px;
        }
    }
    .event-description {
        color: white;
        overflow: hidden;
        font-size: 14px;
        margin-bottom: 15px;
        @media (min-width: 991.5px) and (max-width: 1300px) {
            display: none;
        }
    }
    .event-details {
        color: white;
        padding: 0;
        margin-bottom: 15px;
        font-size: 14px;
        .list-inline-item {
            display: inline;
        }
    }
    .event-attendee-list {
        padding: 0;
        margin-bottom: 20px;
        .event-attendee-portrait {
            height: 35px;
            margin-right: 10px;
        }
        .number-circle {
            border-radius: 50%;
            width: 35px;
            height: 35px;
            padding: 5px;
            text-align: center;
            font-size: 16px;
        }
        @media (min-width: 768px) and (max-width: 992px) {
            display: none;
        }
    }
}

.section-card-common {
    @extend .card-common;
    .section-card-logo {
        color: white;
        margin-right: 10px !important;
        font-size: 20px;
    }
    .section-card-title {
        color: white;
        margin-bottom: 0;
        font-size: 20px;
    }
    .section-card-amount {
        margin-bottom: 0;
        font-size: 20px;
    }
}

.section-card-1 {
    @extend .section-card-common;
}

.section-card-2 {
    @extend .section-card-common;
    @media (max-width: 991.5px) {
        display: none;
    }
}

.section-card-3 {
    @extend .section-card-common;
    @media (min-width: 991.5px) {
        display: none;
    }
}

.update-card {
    @extend .card-common;
    padding: 10px;
    .update-person-portrait {
        height: 48px;
        margin-right: 10px;
    }
    .update-text {
        min-height: 48px;
        .update-person-name {
            display:inline
        }
        .update-description-1 {
            color: white;
            display:inline
        }
        .update-description-2 {
            display:inline
        }
    }
    .update-details {
        color: white;
        padding: 0;
        margin-bottom: 0;
        font-size: 14px;
    }
}