// Miscellaneous Colors
$light-grey: rgb(234, 234, 234);
$light-cyan: rgb(142, 161, 197);
$yellow: rgb(252, 225, 122);

// Blue
$light-blue: rgb(171, 188, 210);
$medium-blue: rgb(98, 130, 167);
$dark-blue: rgb(32, 40, 73);
$transparent-dark-blue: rgba(32, 40, 73, 0.8);
$skyline-blue: '/assets/skylines/blue_skyline.jpg';
$secondary-blue: $yellow;
$gradient-blue: linear-gradient(
    135deg,
    $dark-blue 0%,
    $dark-blue 70%,
    $medium-blue 90%
) !important;

// Red
$light-red: rgb(248, 206, 204);
$medium-red: rgb(237, 56, 55);
$dark-red: rgb(172, 35, 54);
$transparent-dark-red: rgba(172, 35, 54, 0.8);
$skyline-red: '/assets/skylines/red_skyline.jpg';
$secondary-red: $yellow;
$gradient-red: linear-gradient(
    135deg,
    $dark-red 0%,
    $dark-red 70%,
    $medium-red 90%
) !important;

// Orange
$light-orange: rgb(242, 216, 178);
$medium-orange: rgb(238, 84, 40);
$dark-orange: rgb(149, 56, 42); 
$transparent-dark-orange: rgba(149, 56, 42, 0.8);
$skyline-orange: '/assets/skylines/orange_skyline.jpg';
$secondary-orange: $yellow;
$gradient-orange: linear-gradient(
    135deg,
    $dark-orange 0%,
    $dark-orange 70%,
    $medium-orange 90%
) !important;

// Turquoise
$light-turquoise: rgb(193, 229, 225);
$medium-turquoise: rgb(57, 137, 138);
$dark-turquoise: rgb(33, 87, 91);
$transparent-dark-turquoise: rgba(33, 87, 91, 0.8);
$skyline-turquoise: '/assets/skylines/turquoise_skyline.jpg';
$secondary-turquoise: $yellow;
$gradient-turquoise: linear-gradient(
    135deg,
    $dark-turquoise 0%,
    $dark-turquoise 70%,
    $medium-turquoise 90%
) !important;

// Purple
$light-purple: rgb(197, 192, 227);
$medium-purple: rgb(105, 107, 147);
$dark-purple: rgb(55, 49, 93);
$transparent-dark-purple: rgba(55, 49, 93, 0.8);
$skyline-purple: '/assets/skylines/purple_skyline.jpg';
$secondary-purple: $yellow;
$gradient-purple: linear-gradient(
    135deg,
    $dark-purple 0%,
    $dark-purple 70%,
    $medium-purple 90%
) !important;