.top-margin-adjustment {
    padding-top: 120px;
}
  
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 20px;
}

h1, h2, h3, h4, h5, h6, p {
    font-weight: 400 !important;
    font-family: Roboto, sans-serif;
}

// http://hackingui.com/front-end/a-pure-css-solution-for-multiline-text-truncation/
.multiline-truncation-ellipsis {
    /* hide text if it more than N lines  */
    overflow: hidden;
    /* for set '...' in absolute position */
    position: relative; 
    /* use this value to count block height */
    line-height: 1.2em;
    /* max-height = line-height (1.2) * lines max number (3) */
    max-height: 68px; 
    /* fix problem when last visible word doesn't adjoin right side  */
    text-align: justify;  
    /* place for '...' */
    margin-right: 0;
    padding-right: 15px;
}
.multiline-truncation-ellipsis:before {
    /* points in the end */
    content: '...';
    /* absolute position */
    position: absolute;
    /* set position to right bottom corner of block */
    right: 0;
    bottom: 0;
}
/* hide ... if we have text, which is less than or equal to max lines */
.multiline-truncation-ellipsis:after {
    /* points in the end */
    content: '';
    /* absolute position */
    position: absolute;
    /* set position to right bottom corner of text */
    right: 0;
    /* set width and height */
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    /* bg color = bg color under block */
    background-color: white;
}