.navbar-main {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    list-style: none;
    padding: 10px;

    .navbar-toggler {
        padding: 0 !important;
        .navbar-toggler-icon {
            background-image: url("data:image/svg+xml;charset=utf8,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>");
        }
    }
    
    .route-logo {
        margin: 13px 10px 13px 0;
        display: inline-block;
        .logo {
            border-radius: 50%;
            color: white;
            font-size: 44px;
            padding: 0;
        }
    }
}