@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.background-splash {
    padding: 0;
    background-size: cover;
    background-position: center;
    height: 800px;
    background-repeat: no-repeat;
    .col-12 {
        -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: fadein 3s; /* Firefox < 16 */
         -ms-animation: fadein 3s; /* Internet Explorer */
          -o-animation: fadein 3s; /* Opera < 12.1 */
             animation: fadein 3s;
        padding: 0;
        h1 {
            margin: 220px 0 0 0;
            color: white;
            padding: 10px 0 10px 0;
            margin-bottom: 20px !important;
            .logo {
                margin-right: 10px;
            }
        }
    }
}